/* Wider chat window */
.xl\:max-w-3xl {
    max-width: 96%;
}

/* remove grey space */
.md\:h-48 {
    height: 1rem;
}

/* Move scrollable area up*/
[class^="react-scroll-to-bottom--"] {
    height: 94%;
    overflow-y: auto;
    width: 100%;
    overflow-x: hidden;
}

/* Increase side scroll bar width*/
[class^="react-scroll-to-bottom--"]::-webkit-scrollbar {
    width: 20px;
}

/* Increase side scroll bar thumb and scroll speed*/
[class^="react-scroll-to-bottom--"]::-webkit-scrollbar-thumb {
min-height: 40px;
}

/* Increase horizontal code scroll bar height */
.p-4.overflow-y-auto::-webkit-scrollbar {
    height: 20px;
}


/* Move copy code to the left side */
.flex.items-center.relative.text-gray-200.bg-gray-800.px-4.py-2.text-xs.font-sans.justify-between.rounded-t-md {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

/* Change the copy code into a button */
.flex.items-center.relative.text-gray-200.bg-gray-800.px-4.py-2.text-xs.font-sans.justify-between.rounded-t-md button.flex.ml-auto.gap-2 {
    margin: 0 10px 0 0;
    align-items: center;
    background: #3f51b5;
    padding: 5px 10px;
    border-radius: 5px;
    min-width: 30px;
}

/* Hover state for copy button*/
.flex.items-center.relative.text-gray-200.bg-gray-800.px-4.py-2.text-xs.font-sans.justify-between.rounded-t-md button.flex.ml-auto.gap-2:hover {
    background: #2196F3;
    transition: 0.25s;
}

/* Increase size of copy code clipboard*/
.flex.items-center.relative.text-gray-200.bg-gray-800.px-4.py-2.text-xs.font-sans.justify-between.rounded-t-md svg.h-4.w-4 {
    width: 25px;
    height: 25px;
}

/* Increase the size of the main copy to clipboard*/
button.flex.ml-auto.gap-2.rounded-md.p-1.hover\:bg-gray-100.hover\:text-gray-700.dark\:text-gray-400.dark\:hover\:bg-gray-700.dark\:hover\:text-gray-200.disabled\:dark\:hover\:text-gray-400 svg.h-4.w-4 {
    width: 30px;
    height: 30px;

}

/* Move clipboard icon below the response rating*/
.text-gray-400.flex.self-end.lg\:self-center.justify-center.mt-2.gap-2.md\:gap-3.lg\:gap-1.lg\:absolute.lg\:top-0.lg\:translate-x-full.lg\:right-0.lg\:mt-0.lg\:pl-2.visible {
   display: flex;
   flex-direction: column-reverse;
}

p, ol, ul, div.empty\:hidden{
  width:95ch;   /* Keep text lines from getting crazy long and difficult to read. 60–75 characters is typically ideal for lines of text.*/
}

:root {
  font-size: 14pt; /* Bump up the font size a bit because my eyes aren't as young as they used to be.*/
}

code {
  font-family: 'Fira Code'; /* Display code blocks using a monospace font with ligature support.*/
}